<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WIA_Gas_Leak_Monitoring_System.My.MySettings.WIA_Gas_Leak_MonitoringConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\WIA Gas Leak Monitoring.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfwiagasleak"
            providerName="System.Data.OleDb" />
        <add name="WIA_Gas_Leak_Monitoring_System.My.MySettings.SQL_Connection"
            connectionString="Data Source=BTMESSQLDEV03;Initial Catalog=LFPHPICO;Persist Security Info=True;User ID=mesph;Password=PHFuse;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IP_Add" value="192.168.250.4" />
		<add key="COM_Name" value="COM1" />
	</appSettings>
</configuration>